.aside {
  grid-area: aside;
  max-width: 100%;
  min-width: 20rem;
  margin: 0 1rem;
}

.sidebar {
  position: sticky;
  top: 5rem;
  z-index: 2;
}

.aside-searchbox {
  display: flex;
  /* border: 1px solid #e0dede; */
  align-items: center;
  padding: 0.5rem;
  background-color: var(--COLOR-FT);
  margin-top: 1rem;
}

.aside-searchbox input {
  border: none;
  width: 100%;
}

.follow-card {
  display: flex;
  flex-direction: column;
  background-color: var(--COLOR-FT);
  border-radius: var(--BORDER-RADIUS);
  flex-wrap: wrap;
  cursor: pointer;
}

.follow-user {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 3px solid var(--BG-BODY);
}

.avatar-img {
  margin-right: 0.5rem;
}

.m-l-auto {
  margin-left: auto;
}

.follow-card-heading {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3px;
  background-color: var(--COLOR-FT);
  padding: 1rem;
  border-radius: var(--BORDER-RADIUS);
}

.follow-card-heading > span {
  color: var(--COLOR-PRIMARY);
}

.follow-user button {
  background: none;
  color: var(--COLOR-PRIMARY);
  border: none;
  cursor: pointer;
}

.btn-show-more {
  cursor: pointer;
}


