.page {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  grid-template-areas: "nav main aside";
}

.main {
  grid-area: main;
  min-height: 80vh;
  margin-bottom: 1rem;
  max-width: 100%;
  margin: 1rem;
}

.m-tb-1 {
  margin: 1rem 0;
}

li {
  list-style: none;
  margin-bottom: 3px;
}

.modal-edit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1050px) {
  :root {
    font-size: 90%;
  }
  .page {
    grid-template-columns: 200px 1fr 300px;
  }
}

@media only screen and (max-width: 960px) {
  .page {
    /* grid-template-columns: 1fr 3fr; */
    grid-template-areas: "nav main main";
  }
  .aside {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .page {
    /* grid-template-columns: auto; */
    grid-template-areas: "main main main";
  }
  .nav {
    display: none;
  }

  .main {
    margin: 1rem;
  }
}
