.page {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  grid-template-areas: "nav main aside";
}

.main {
  grid-area: main;
  margin: 1rem;
  min-height: 80vh;
}

.m-tb-1 {
  margin: 1rem 0;
}

li {
  list-style: none;
  margin-bottom: 3px;
}

.modal-edit {
  border: 1px solid red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}