@import url("https://component-site-fitui.netlify.app/components/components.css");
:root {
  --COLOR-PRIMARY: #00c9ff;
  --COLOR-PRIMARY-DARK: #03b9ec;
}

.App {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1400px) {
  .App {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1250px) {
  .App {
    max-width: 100%;
  }
}
